body {
    
    background-color: #2088ad;
    color: #8fdffc;
    font-family:sans-serif, serif, Arial;
    font-size: xx-large;
}

form {
    text-align: center;
    border: 3px solid;
    border-color: #0A3140;
    border-collapse:collapse;
    background-color: #146380;
    font-size: medium;
    margin-left: 30%;
    margin-right: 30%;
    
    

}


table,td,th,tr {
    text-align: center;
    border: 3px solid;
    border-color: #0A3140;
    border-collapse:collapse;
    background-color: #146380;
    font-size: medium;
}

table, tr {
    margin-left: 25%;
}





/*About page parallax*/
.wrapper {
    height: 100vh; /* 100% of the viewport height */
    overflow-x: hidden; /* prevent horizontal scroll */
    overflow-y: auto; /* allow vertical scroll */
    perspective: 2px; /* simulate distance from viewport */
}

.section {
    position: relative;
    height: 100vh;
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
}

.static { background: #0A3140; }
.static2 {background-color: #146380}

.parallax::after {
    content: " ";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background-size: 100%;
    background-attachment: fixed;
    background-size:cover ;
    padding: 1%;
}



@media screen and (max-width: 600px) {
    body{
        font-size: medium;
    }
    table, tr {
        margin-left: 0%;
    }
    img {
        width: fit-content;
        
    }
    form {
        margin: auto;
    }
}

.intro {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.445), rgba(0,0,0,0.8)), url(../Images/KitKat.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
}
.intro h1 {margin: auto;}

.container{
    width: 85%;
    margin: auto;
}
.container h1 {
    text-align: center;
    margin: 20px;
}
.row{
    padding: 30px;
    margin-top: 20px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-evenly;
    opacity: 0;
    transform: scale(0.1);
    transition: all 1s ease-in-out;
}
.col{
    flex-basis: 40%;
}

.active{
    opacity: 1;
    transform: scale(1);
}
p{
    flex-basis: 40%;
}

