body {
    text-align: center;
    background-color: #2088ad;
    color: #8fdffc;
    font-family:sans-serif, serif, Arial;
    font-size: xx-large;
}

form {
    text-align: center;
    border: 3px solid;
    border-color: #0A3140;
    border-collapse:collapse;
    background-color: #146380;
    font-size: medium;
    margin-left: 30%;
    margin-right: 30%;
    
    

}


table,td,th,tr {
    text-align: center;
    border: 3px solid;
    border-color: #0A3140;
    border-collapse:collapse;
    background-color: #146380;
    font-size: medium;
}

table, tr {
    margin-left: 25%;
}





/*About page parallax*/
.wrapper {
    height: 100vh; /* 100% of the viewport height */
    perspective: 2px; /* simulate distance from viewport */
}

.section {
    position: relative;
    height: 100vh;
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
}

.static { background: #0A3140; }
.static2 {background-color: #146380}

.parallax::after {
    content: " ";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background-size: 100%;
    background-attachment: fixed;
    background-size:cover ;
    padding: 1%;
}



@media screen and (max-width: 600px) {
    body{
        font-size: large;
    }
    table, tr {
        margin-left: 0%;
    }
    
    form {
        margin: auto;
    }
    .intro{
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.13), rgba(0, 0, 0, 0.486)), url(../Images/me2.jpg)!important;
    background-size: cover;
    display: flex;
    }
}

.intro {
    height: 100vh;
    background-image:linear-gradient(rgba(0, 0, 0, 0.13), rgba(0, 0, 0, 0.486)), url(../images/me.jpg);
    background-size: cover;
    display: flex;
}
.intro h1 {margin-left: 15%;}

h4 {
    font-size: 21px;
    font-family: 'Bungee', cursive;
  }
  h4 #clock {
    font-size: 36px;
    display: block;
    padding: 5px 0px;
  }