#div{
    background-color: blue;
    border-color: ;
    border-radius: ;
    border-style: ;
    border-width: ;
    font-family: "Freight Sans Bold", "Lucida Grande", Tahoma, Verdana, Arial, sans-serif";
    font-size: ;
    font-weight: ;
    margin: ;
    padding: ;
    text-align: vertical-align ;
    width: ;
    color: ;
    display: ;
}