body { color: #000000;
    font-family: "Lucida Grande", Arial, sans-serif;
    border-radius: 5px;
    border-color: white;
    margin-left: 30%;
    margin-right: 27%;
}

div {
    background-color: #edf0f5;
}

#birth {
    font-size:xx-small ;
}

.f {
    margin-bottom: 5px;
    margin-left: 5px;
}

.l {
    margin-left: -3px;
    padding-right: ;
}

.email {
    margin-bottom: 5px;
    margin-left: 10px;
    padding-right: 140px;
}

.pass {
    margin-left: 10px;
    padding-right: 140px;
}

.B {
    margin-top: 7px;
}

#sbutton {
    background-color: #659d50;
}