/* Style sheet created by: Anakin Baldock, Today's Date: 11/11/2022 */

/* Style for body specifies a background color */
body {
	background-color: #FFFFFF;
}

/* Style for the container element */
#container {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

/* Style for the header element */
header {
	font-family: Verdana, Arial, sans-serif;
	background-color: #FFFFFF;
	color: #4E9657;
	padding: 0.5%;
	margin-left: 1%;
	font-size: 3em;
}

/* Style for the nav element */
nav {
	padding: 0.5%;
}

/* Style for the nav list item elements */
nav li {
	display: inline;
}

/* Style for the nav links element */
nav li a {
	color: #4E9657;
	padding-left: 2%;
	padding-right: 2%;
	text-decoration: none;
}

/* Style for the footer element */
footer {
	font-size: .70em;
	text-align: center;
}

/*Style for the main element*/
main {
	display: block;
	background-color: #4E9657;
}

/*Style for the section element*/
section {
	background-color: #FFFFFF;
	color: #4E9657;
	padding: 5px;
	margin-top: 5px;
}

/*Style for the artical element*/
article {
	border: 10px;
	color: black;
}

/*Style for the aside element*/
aside {
	border-radius: 20px;
	background-color: #4E9657;
	text-align: center;
	font-size:larger ;
	color: #FFFFFF;
}