body {
    color: green;
    background-color: rgb(136, 245, 136);
}

#bod {
    background-color: white;
    border: 15px solid;
    border-color: white;
    margin-left: 30%;
    margin-right: 27%;
    padding-right: 180px;
    padding-left: 180px;
}