body {
    color: rgb(12, 150, 143);
    background-color: rgb(14, 151, 185);
}

#bod {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: white;
    border: 15px solid;
    border-color: white;
    margin-left: 30%;
    margin-right: 30%;
    padding-right: 180px;
    padding-left: 180px;
}

    input[type=number]:focus {color:rgb(12,150,143); border: 5px solid rgb(48, 121, 150);}
    button:hover {background-color: rgb(44, 123, 241);}
    button:active {background-color: rgb(46, 176, 236);}